<div th:fragment="deposit">
    Current balance: <span th:text=${account.balance} th:unless="${account == null}"></span>
    <div class="col-5">
        <form method="post" th:action="@{/deposit}">
            <div class="form-group">
                <label for="Amount">Deposit</label>
                <input type="number" class="form-control" id="Amount" name="amount" placeholder="Deposit amount"
                       step="0.01">
            </div>

            <div class="alert alert-danger" th:text="${exception.message}" th:unless="${exception == null}"></div>

            <button type="submit" class="btn btn-primary">Deposit</button>
        </form>
    </div>
</div>