<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="head :: head">
    <title id="pageTitle">Challenge ATM</title>
</head>
<body>
<div class="container">
    <div class="row justify-content-center align-items-center" style="height:100vh">
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <div class="alert alert-danger" role="alert">
                        Something went wrong! Please try again later.
                    </div>
                    <a class="btn btn-primary btn-sm" th:href="@{/}">Home</a>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="footer :: footer"></div>
</div>
</body>
</html>
